<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT!!</p>
        <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div>
<br>

<br>
 
<table class="table table-bordered">  
    <tr>  
      <th>Id</th>          
      <th>Name</th>  
      <th>Product Image</th>
      <th>Price</th>    
    </tr>  
    <tr *ngFor="let emp of data">     
      <td>  
        {{emp.id}}  
      </td>  
       <td>  
        {{emp.name}}        
      </td>  
      <td><img src="{{emp.imageUrl}}" width="100"></td>
      <td>  
        {{emp.price}}    
      </td>  
    </tr>  
     <tr >   
      <td>
       Total Product = 
      </td>   
      <td>
        {{totalfilter}}
      </td>  
     
       <td>  
        Total 
      </td> 
    
      <td>  
      {{sum}}  
      </td>  
    </tr>  
  </table> 
  <br>
  <br>
